.create-dish__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}
.create-dish__form {
  width: 60%;
  padding: 3vh 3vw;
  background-color: #6bc4a6;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;
}
.row-buttons {
  display: flex !important;
  justify-content: space-evenly;
}
.form-button {
  font-size: 1.3rem;
  border-radius: 20px;
}
.custom-file {
  margin-top: 3vh;
}
.form-control {
  padding: 20px !important;
}
.form-label {
  color: #000000 !important;
}
@media (max-width: 767px) {
  .create-dish__form {
    width: 80%;
  }
}
